@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

:root {
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 76.1%;
}

.text-muted {
    color: hsl(var(--muted));
}

.text-muted-foreground {
    color: hsl(var(--muted-foreground));
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Inter", sans-serif;
    box-sizing: border-box;

    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}
